## Step#2 - Database Engineering

In [180]:
# Import Dependencies
import pandas as pd

In [181]:
# Read csv file into dataframe
hawaii_measurements = pd.read_csv("Cleaned_csv/Clean_Hawaii_measurements.csv")
hawaii_stations = pd.read_csv("Cleaned_csv/Clean_Hawaii_stations.csv")

In [182]:
del hawaii_measurements['Unnamed: 0']
hawaii_measurements
# hawaii_measurements = hawaii_measurements.sort_by('date')

           station        date  prcp  tobs
0      USC00519397  2010-01-01  0.08    65
1      USC00519397  2010-01-02  0.00    63
2      USC00519397  2010-01-03  0.00    74
3      USC00519397  2010-01-04  0.00    76
4      USC00519397  2010-01-07  0.06    70
5      USC00519397  2010-01-08  0.00    64
6      USC00519397  2010-01-09  0.00    68
7      USC00519397  2010-01-10  0.00    73
8      USC00519397  2010-01-11  0.01    64
9      USC00519397  2010-01-12  0.00    61
10     USC00519397  2010-01-14  0.00    66
11     USC00519397  2010-01-15  0.00    65
12     USC00519397  2010-01-16  0.00    68
13     USC00519397  2010-01-17  0.00    64
14     USC00519397  2010-01-18  0.00    72
15     USC00519397  2010-01-19  0.00    66
16     USC00519397  2010-01-20  0.00    66
17     USC00519397  2010-01-21  0.00    69
18     USC00519397  2010-01-22  0.00    67
19     USC00519397  2010-01-23  0.00    67
20     USC00519397  2010-01-24  0.01    71
21     USC00519397  2010-01-25  0.00    67
22     USC00519397  2010-01-26  0.04    76
23     USC00519397  2010-01-27  0.12    68
24     USC00519397  2010-01-28  0.00    72
25     USC00519397  2010-01-31  0.03    67
26     USC00519397  2010-02-01  0.01    66
27     USC00519397  2010-02-04  0.01    69
28     USC00519397  2010-02-05  0.00    67
29     USC00519397  2010-02-06  0.00    67
...            ...         ...   ...   ...
18073  USC00516128  2017-07-17  0.39    72
18074  USC00516128  2017-07-18  2.40    77
18075  USC00516128  2017-07-19  0.27    74
18076  USC00516128  2017-07-20  0.70    75
18077  USC00516128  2017-07-21  0.10    72
18078  USC00516128  2017-07-22  4.00    72
18079  USC00516128  2017-07-23  0.80    78
18080  USC00516128  2017-07-24  0.84    77
18081  USC00516128  2017-07-25  0.30    79
18082  USC00516128  2017-07-26  0.30    73
18083  USC00516128  2017-07-27  0.00    75
18084  USC00516128  2017-07-28  0.40    73
18085  USC00516128  2017-07-29  0.30    77
18086  USC00516128  2017-07-30  0.30    79
18087  USC00516128  2017-07-31  0.00    74
18088  USC00516128  2017-08-02  0.25    80
18089  USC00516128  2017-08-03  0.06    76
18090  USC00516128  2017-08-07  0.05    78
18091  USC00516128  2017-08-08  0.34    74
18092  USC00516128  2017-08-09  0.15    71
18093  USC00516128  2017-08-10  0.07    75
18094  USC00516128  2017-08-12  0.14    74
18095  USC00516128  2017-08-14  0.22    79
18096  USC00516128  2017-08-15  0.42    70
18097  USC00516128  2017-08-16  0.42    71
18098  USC00516128  2017-08-17  0.13    72
18099  USC00516128  2017-08-19  0.09    71
18100  USC00516128  2017-08-21  0.56    76
18101  USC00516128  2017-08-22  0.50    76
18102  USC00516128  2017-08-23  0.45    76

[18103 rows x 4 columns]

In [183]:
hawaii_measurements = hawaii_measurements.sort_values('tobs', ascending=False)
hawaii_measurements

           station        date  prcp  tobs
2596   USC00519397  2017-05-23  0.08    87
204    USC00519397  2010-08-23  0.01    87
13933  USC00511918  2010-09-19  0.00    87
15011  USC00511918  2013-09-16  0.00    86
14311  USC00511918  2011-10-08  0.00    86
14598  USC00511918  2012-07-26  0.00    86
12988  USC00519281  2015-09-10  0.09    85
1635   USC00519397  2014-09-26  0.00    85
4681   USC00513117  2015-08-28  0.00    85
13848  USC00511918  2010-06-20  0.00    85
15371  USC00511918  2014-09-24  0.00    85
551    USC00519397  2011-09-12  0.00    85
14995  USC00511918  2013-08-31  0.00    85
4366   USC00513117  2014-09-14  0.00    85
6768   USC00514830  2015-08-29  0.00    85
15604  USC00511918  2015-10-09  0.00    84
10892  USC00519523  2017-07-26  0.00    84
15586  USC00511918  2015-08-04  0.00    84
6762   USC00514830  2015-08-23  0.62    84
1544   USC00519397  2014-06-24  0.00    84
10271  USC00519523  2015-08-02  0.01    84
14597  USC00511918  2012-07-25  0.00    84
7837   USC00517948  2014-09-10  0.00    84
14143  USC00511918  2011-04-22  0.00    84
4013   USC00513117  2013-09-21  0.02    84
10896  USC00519523  2017-07-30  0.00    84
1959   USC00519397  2015-08-22  0.00    84
3987   USC00513117  2013-08-26  0.00    84
8977   USC00519523  2011-10-03  0.00    84
4348   USC00513117  2014-08-24  0.19    84
...            ...         ...   ...   ...
15473  USC00511918  2015-01-08  0.00    57
12433  USC00519281  2014-03-04  0.00    57
12811  USC00519281  2015-03-17  0.00    57
11289  USC00519281  2011-01-11  0.34    57
15463  USC00511918  2014-12-29  0.00    57
12804  USC00519281  2015-03-10  0.19    57
12803  USC00519281  2015-03-09  0.00    57
9504   USC00519523  2013-03-18  0.09    57
14770  USC00511918  2013-01-16  0.00    57
13698  USC00511918  2010-01-12  0.00    57
15139  USC00511918  2014-01-23  0.00    57
13139  USC00519281  2016-02-09  0.00    57
15178  USC00511918  2014-03-04  0.00    57
14772  USC00511918  2013-01-18  0.00    57
13699  USC00511918  2010-01-13  0.00    57
13701  USC00511918  2010-01-15  0.00    56
12740  USC00519281  2015-01-05  0.00    56
14065  USC00511918  2011-02-01  0.23    56
10077  USC00519523  2014-12-31  0.63    56
13138  USC00519281  2016-02-08  0.00    56
9445   USC00519523  2013-01-16  0.00    56
15470  USC00511918  2015-01-05  0.00    56
14434  USC00511918  2012-02-10  0.00    56
12781  USC00519281  2015-02-15  1.42    56
12807  USC00519281  2015-03-13  0.06    56
14432  USC00511918  2012-02-08  0.39    56
1730   USC00519397  2014-12-31  0.05    56
14846  USC00511918  2013-04-03  0.00    55
12021  USC00519281  2013-01-16  0.02    54
14845  USC00511918  2013-04-02  0.00    53

[18103 rows x 4 columns]

In [184]:
hawaii_measurements.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [185]:
del hawaii_stations['Unnamed: 0']
hawaii_stations

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [186]:
hawaii_stations['name'] = hawaii_stations['name'].astype('str')

In [187]:
hawaii_stations.dtypes

station       object
name          object
latitude     float64
longitude    float64
elevation    float64
dtype: object

In [188]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [189]:
# Create the connection engine
engine = create_engine("sqlite:///hawaii1.sqlite")
conn = engine.connect()

In [190]:
# create your Measurement class
class Measurements(Base):
    __tablename__ = 'measurements'
    id      = Column(Integer, primary_key = True)
    station = Column(String(255))
    date    = Column(String(255))
    prcp    = Column(Float)
    tobs    = Column(Integer)

In [191]:
# create your Station class
class Stations(Base):
    __tablename__ = 'stations'
    id      = Column(Integer, primary_key = True)
    station = Column(String(255))
    name    = Column(String(255))
    latitude = Column(Float(255))
    longitude = Column(Float(255))
    elevation = Column(Float(255))
    
    def __str__(self):
        print(self.name)
        
    def __repr__(self):
        print(self.name)

In [192]:
Stations.__table__

Table('stations', MetaData(bind=None), Column('id', Integer(), table=<stations>, primary_key=True, nullable=False), Column('station', String(length=255), table=<stations>), Column('name', String(length=255), table=<stations>), Column('latitude', Float(precision=255), table=<stations>), Column('longitude', Float(precision=255), table=<stations>), Column('elevation', Float(precision=255), table=<stations>), schema=None)

In [193]:
# Create (if not already in existence) the tables associated with our classes.
Base.metadata.create_all(engine)

In [194]:
# Use Orient='records' to create a list of data to write
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
### BEGIN SOLUTION
data_m = hawaii_measurements.to_dict(orient='records')
data_s = hawaii_stations.to_dict(orient='records')
data_m[0]
data_s[0]
### END SOLUTION

{'elevation': 3.0,
 'latitude': 21.2716,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'station': 'USC00519397'}

In [195]:
# Use MetaData from SQLAlchemy to reflect the tables
### BEGIN SOLUTION
metadata = MetaData(bind=engine)
metadata.reflect()
### END SOLUTION

In [196]:
# Save the reference to the `measurements` table as a variable called `table_m` and 'stations as a variable 'table_s'
### BEGIN SOLUTION
table_m = Table('measurements', metadata, autoload=True)
table_s = Table('stations', metadata, autoload=True)
### END SOLUTION

In [197]:
table_m

Table('measurements', MetaData(bind=Engine(sqlite:///hawaii1.sqlite)), Column('id', INTEGER(), table=<measurements>, primary_key=True, nullable=False), Column('station', VARCHAR(length=255), table=<measurements>), Column('date', VARCHAR(length=255), table=<measurements>), Column('prcp', FLOAT(), table=<measurements>), Column('tobs', INTEGER(), table=<measurements>), schema=None)

In [198]:
table_s

Table('stations', MetaData(bind=Engine(sqlite:///hawaii1.sqlite)), Column('id', INTEGER(), table=<stations>, primary_key=True, nullable=False), Column('station', VARCHAR(length=255), table=<stations>), Column('name', VARCHAR(length=255), table=<stations>), Column('latitude', FLOAT(), table=<stations>), Column('longitude', FLOAT(), table=<stations>), Column('elevation', FLOAT(), table=<stations>), schema=None)

In [199]:
# Use `table.insert()` to insert the data into the table
### BEGIN SOLUTION
conn.execute(table_m.insert(), data_m)
conn.execute(table_s.insert(), data_s)
### END SOLUTION

In [200]:
conn.execute('SELECT * FROM measurements LIMIT 10').fetchall()

[(1, 'USC00519397', '2017-05-23', 0.08, 87),
 (2, 'USC00519397', '2010-08-23', 0.01, 87),
 (3, 'USC00511918', '2010-09-19', 0.0, 87),
 (4, 'USC00511918', '2013-09-16', 0.0, 86),
 (5, 'USC00511918', '2011-10-08', 0.0, 86),
 (6, 'USC00511918', '2012-07-26', 0.0, 86),
 (7, 'USC00519281', '2015-09-10', 0.09, 85),
 (8, 'USC00519397', '2014-09-26', 0.0, 85),
 (9, 'USC00513117', '2015-08-28', 0.0, 85),
 (10, 'USC00511918', '2010-06-20', 0.0, 85)]

In [201]:
conn.execute('SELECT * FROM stations LIMIT 10').fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

In [202]:
# A session is akin to a conversation between Python and SQL
from sqlalchemy.orm import Session
# Declare a session
session = Session(bind=engine)

In [203]:
x = session.query(Stations).filter_by(name = 'WAIKIKI 717.2, HI US').first()
print(x)

WAIKIKI 717.2, HI US

TypeError: __str__ returned non-string (type NoneType)